<% provide(:title, 'Contact') %>
<!DOCTYPE html>
<html>
  <head>
    <title>Ruby on Rails Tutorial Example App | <%= yield(:title) %></title>
  </head>
  <body>
    <h1>Example App</h1>
    <p>
      Contact the author: Ruby on Rails Tutorial:
	<a href="http://railstutorial.org/help">Rails Tutorial help page</a>.
	To get help on this sample app, see the
	<a href="http://railstutorial.org/book">Rails Tutorial book</a>.
    </p>
  </body>
</html>	
