<% provide(:title, 'Sign up') %>
<!DOCTYPE html>
<html>
  <head>
    <title>Ruby on Rails Tutorial Example App | <%= yield(:title) %></title>
  </head>
  <body>
    <h1>Example app</h1>
    <p>
      Waiting for form to sign up...
    </p>
  </body>
</html>	
